<div id="batteries"></div>
<div class="desc-wrapper bg-brand-bg-light pt-12 pb-8 flex-1">
  <div class="container">
    <lead>
      <h2>One Battery Fits All Tools</h2>
    </lead>
    <p class="tablet:text-xl text-center mt-8 text-gray-50">
      By July 2021 the ONE+ system will have over 150 tools in the range. From
      drills and lawn mowers, to polishers, stick vacs and glue guns, you can
      power all your ONE+ tools with the same ONE+ battery.
    </p>
  </div>
</div>
<div class="battery-wrapper pt-8 pb-24 flex-1">
  <div class="container">
    <img
      class="w-[75%] mx-auto"
      src="/assets/battery.png"
      alt="HP One+ battery"
    />
  </div>
</div>
