<div class="desc-wrapper bg-brand-bg-light pt-12 pb-8 flex-1">
  <div class="container">
    <lead>
      <h2>Jeden akumulator, który pasuje do wszystkich narzędzi</h2>
    </lead>
    <p class="tablet:text-xl text-center mt-8 text-gray-50">
      Od lipca 2021 roku system ONE + będzie miał w ofercie ponad 150 narzędzi.
      Od wkrętarek i kosiarek do polerek, odkurzaczy i pistoletów do klejenia -
      wszystkie produkty ONE+ możesz zasilać jednym, tym samym akumulatorem
      ONE+.
    </p>
  </div>
</div>
<div class="battery-wrapper pt-8 pb-24 flex-1">
  <div class="container">
    <img
      class="w-[75%] mx-auto"
      src="/assets/battery.png"
      alt="HP One+ battery"
    />
  </div>
</div>
