<div class="container py-14">
  <h1
    class="
      shiny
      text-3xl
      tablet:text-5xl
      font-black
      leading-tight
      text-center
      uppercase
    "
  >
    <span class="inline-block mb-3">High Performance,</span><br />Advanced
    Technology
  </h1>
  <p
    class="
      text-center text-brand
      tablet:px-16
      desktop:px-64
      text-lg
      tablet:text-xl
      mt-6
    "
  >
    ONE+ HP is the High Performance series of Ryobi’s 18V tools, featuring our
    most advanced Brushless technology for best-in-class performance.
  </p>
  <div class="flex flex-col items-center mt-8">
    <a ctaBtn href="#tools">View Tools</a>
    <app-more-arrow [target]="'about-hp'" class="text-lg mt-10"
      >Find out more
    </app-more-arrow>
  </div>
</div>
