<div class="container py-14">
  <h1
    class="
      shiny
      text-3xl
      tablet:text-5xl
      font-black
      leading-tight
      text-center
      uppercase
    "
  >
    <span class="inline-block mb-3">Wysoka wydajność,</span><br />Zaawansowana
    technologia
  </h1>
  <p
    class="
      text-center text-brand
      tablet:px-16
      desktop:px-64
      text-lg
      tablet:text-xl
      mt-6
    "
  >
    ONE+ HP to gama narzędzi 18V Ryobi o wysokiej wydajności, wyposażona w
    najbardziej zaawansowaną technologię bezszczotkową, która zapewnia najlepszą
    w swojej klasie wydajność.
  </p>
  <div class="flex flex-col items-center mt-8">
    <a ctaBtn href="#tools">Zobacz narzędzia</a>
    <app-more-arrow [target]="'about-hp'" class="text-lg mt-10"
      >Dowiedz się więcej
    </app-more-arrow>
  </div>
</div>
