<div id="about-hp"></div>
<img src="assets/range-hp.jpg" alt="ONE+ HP Tools" class="w-full" />
<div class="container py-12">
  <div class="flex flex-col items-center">
    <lead [variant]="'inverted'">
      <h2 class="shiny">Brushless Motor Technology</h2>
    </lead>
    <p class="text-xl tablet:text-2xl text-center mt-8 uppercase">
      <span class="block text-left desktop:inline">More Power, </span
      ><span class="block text-left desktop:inline">More Runtime, </span
      ><span class="block text-left desktop:inline">More Compact.</span>
    </p>
    <p class="tablet:text-xl text-center mt-4 desktop:px-56">
      The ONE+ HP series features Ryobi's most advanced Brushless technology.
      Using patented electronics and intelligent ONE+ battery technology the
      Brushless motor provides maximum tool performance.
    </p>
  </div>
</div>
<div class="bg-brand-bg-light py-16 cards-wrapper">
  <div class="flex flex-col laptop:flex-row gap-12 mx-12">
    <div class="skew-card">
      <div class="title">Brushless Motor</div>
      <div class="image">
        <img src="/assets/brushless.png" alt="Brushless Motor" />
      </div>
      <div class="desc">
        A friction-less BRUSHLESS motor spins at up to 25,000rpm to deliver more
        powerful tools.
      </div>
    </div>
    <div class="skew-card">
      <div class="title">Electronics</div>
      <div class="image">
        <img src="/assets/electronics.png" alt="Advanced Electronics" />
      </div>
      <div class="desc">
        A microprocessor constantly monitors and regulates the motor to maximise
        runtime.
      </div>
    </div>
    <div class="skew-card">
      <div class="title">Battery</div>
      <div class="image">
        <img src="/assets/batteries.png" alt="Battery" />
      </div>
      <div class="desc">
        Uniquely manages its own power to delivery optimum runtime for any ONE+
        tool and application.
      </div>
    </div>
  </div>
</div>
