<div id="about-hp"></div>
<img src="assets/range-hp.jpg" alt="Narzędzia ONE+ HP" class="w-full" />
<div class="container py-12">
  <div class="flex flex-col items-center">
    <lead [variant]="'inverted'">
      <h2 class="shiny">Technologia Silników Bezszczotkowych</h2>
    </lead>
    <p class="text-xl tablet:text-2xl text-center mt-8 uppercase">
      <span class="block desktop:inline">Większa Moc, </span
      ><span class="block desktop:inline">Dłuższy Czas Pracy, </span
      ><span class="block desktop:inline">Bardziej Kompaktowe.</span>
    </p>
    <p class="tablet:text-xl text-center mt-4 desktop:px-56">
      Narzędzia ONE+ HP są wyposażone w najbardziej zaawansowaną technologię
      silników bezszczotkowych. Dzięki opatentowanej elektronice i inteligentnej
      technologii ONE+ silniki bezszczotkowe zapewniają maksymalną wydajność
      narzędzi.
    </p>
  </div>
</div>
<div class="bg-brand-bg-light py-16 cards-wrapper">
  <div class="flex flex-col laptop:flex-row gap-12 mx-12">
    <div class="skew-card">
      <div class="title">Silnik bezszczotkowy</div>
      <div class="image">
        <img src="/assets/brushless.png" alt="Bezsczotkowy silnik" />
      </div>
      <div class="desc">
        Beztarciowy silnik bezszczotkowy obraca się z prędkością do 25 000
        obr./min., zapewniając jeszcze większą moc narzędziom.
      </div>
    </div>
    <div class="skew-card">
      <div class="title">Elektronika</div>
      <div class="image">
        <img src="/assets/electronics.png" alt="Zaawansowana elektronika" />
      </div>
      <div class="desc">
        Mikroprocesor stale monitoruje i reguluje silnik, aby zmaksymalizować
        czas pracy.
      </div>
    </div>
    <div class="skew-card">
      <div class="title">Akumulator</div>
      <div class="image">
        <img src="/assets/batteries.png" alt="Wydajny akumulator" />
      </div>
      <div class="desc">
        Unikalnie zarządza własną mocą, aby zapewnić optymalny czas pracy
        narzędzi ONE+.
      </div>
    </div>
  </div>
</div>
