@import "/src/vars";

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

.mask {
  background: transparent url("#{$base-href}/assets/cross-fill.svg") repeat 0 0;
  opacity: 0.3;
}
