<div id="compact"></div>
<div class="container py-12">
  <div class="flex flex-col items-center">
    <lead [variant]="'inverted'">
      <h2 class="shiny">Kompaktowa Konstrukcja</h2>
    </lead>
    <p class="tablet:text-xl text-center mt-4 desktop:px-56">
      Seria ONE+ HP Compact zapewnia skoncentrowaną moc w lekkiej konstrukcji,
      idealną do pracy na dłuższy czas w ciasnych przestrzeniach.
    </p>
  </div>
</div>
<div
  class="
    bg-brand-bg-light
    py-8
    ml-8
    tablet:ml-12
    laptop:ml-24
    mb-8
    clipped-left
  "
>
  <div class="container flex flex-col tablet:flex-row">
    <app-prod-compare
      class="
        tablet:flex-1
        h-[33vh]
        tablet:h-[25vh]
        laptop:h-[33vh]
        mb-8
        tablet:mb-0 tablet:mr-16
      "
    >
      <div oldProd>
        <img src="/assets/drill-outline.png" alt="" />
        <img class="pop" src="/assets/drill-outline-pop.png" alt="" />
      </div>
      <div newProd>
        <img src="/assets/drill.png" alt="Wiertarko-Wkrętarka Udarowa" />
      </div>
    </app-prod-compare>
    <div
      class="
        tablet:flex-1
        text-gray-50
        flex flex-col flex-nowrap
        justify-center
      "
    >
      <h3 class="text-brand text-3xl font-extrabold uppercase italic">
        Wiertarko-Wkrętarka Udarowa
      </h3>
      <p class="text-brand font-bold py-4">RDD18C</p>
      <p>
        Kompaktowa bez uszczerbku dla mocy, możesz operować w trudno dostępnych
        miejscach i pracować dłużej nad głową, dzięki naszej najlżejszej
        wiertarko-wkrętarce z udarem.
      </p>
      <p>(W porównaniu do modelu R18DD7)</p>
    </div>
  </div>
</div>
<div
  class="bg-brand-bg-light py-8 mr-8 tablet:mr-12 laptop:mr-24 clipped-right"
>
  <div class="container flex flex-col tablet:flex-row">
    <app-prod-compare
      class="
        tablet:flex-1
        h-[25vh]
        tablet:h-[20vh]
        laptop:h-[25vh]
        mb-8
        tablet:mb-0 tablet:ml-16 tablet:order-2
      "
    >
      <div oldProd>
        <img src="/assets/saw-outline.png" alt="" />
        <img class="pop" src="/assets/saw-outline-pop.png" alt="" />
      </div>
      <div newProd>
        <img src="/assets/saw.png" alt="" />
      </div>
    </app-prod-compare>
    <div
      class="
        tablet:flex-1
        text-gray-50
        tablet:order-1
        flex flex-col flex-nowrap
        justify-center
      "
    >
      <h3 class="text-brand text-3xl font-extrabold uppercase italic">
        Pilarka Szablasta
      </h3>
      <p class="text-brand font-bold py-4">RRS18C</p>
      <p>
        Zaprojektowane specjalnie do pracy jedną ręką, to niezwykle kompaktowe
        narzędzie może być łatwo używane nad głową i trudno dostępnych
        miejscach, jednocześnie przy zachowaniu pełnej kontroli nad pilarką.
      </p>
      <p>(W porównaniu do modelu R18RS7)</p>
    </div>
  </div>
</div>
