<div class="container py-12">
  <div class="flex flex-col items-center">
    <lead [variant]="'inverted'">
      <h2 class="shiny">Kompaktowa Konstrukcja</h2>
    </lead>
    <p class="tablet:text-xl text-center mt-4 desktop:px-56">
      Seria ONE+ HP Compact zapewnia skoncentrowaną moc w lekkiej konstrukcji,
      idealną do pracy na dłuższy czas w ciasnych przestrzeniach.
    </p>
  </div>
</div>
<div
  class="
    bg-brand-bg-light
    py-8
    ml-8
    tablet:ml-12
    laptop:ml-24
    mb-8
    clipped-left
  "
>
  <div class="container flex flex-1 flex-col tablet:flex-row">
    <app-prod-compare class="h-[33vh] mb-8">
      <div oldProd>
        <img src="/assets/drill-outline.png" alt="" />
        <img class="pop" src="/assets/drill-outline-pop.png" alt="" />
      </div>
      <div newProd>
        <img src="/assets/drill.png" alt="Wiertarko-Wkrętarka Udarowa" />
      </div>
    </app-prod-compare>
    <div class="desc text-gray-50">
      <h3 class="text-brand text-3xl font-extrabold uppercase italic">
        Wiertarko-Wkrętarka Udarowa
      </h3>
      <p class="text-brand font-bold">RDD18C</p>
      <p>
        Kompaktowa bez uszczerbku dla mocy, możesz operować w trudno dostępnych
        miejscach i pracować dłużej nad głową, dzięki naszej najlżejszej
        wiertarko-wkrętarce z udarem.
      </p>
      <p>(W porównaniu do modelu R18DD7)</p>
    </div>
  </div>
</div>
<div
  class="bg-brand-bg-light py-8 mr-8 tablet:mr-12 laptop:mr-24 clipped-right"
>
  <div class="container flex flex-1 flex-col tablet:flex-row">
    <app-prod-compare class="h-[33vh] mb-8">
      <div oldProd>
        <img src="/assets/saw-outline.png" alt="" />
        <img class="pop" src="/assets/saw-outline-pop.png" alt="" />
      </div>
      <div newProd>
        <img src="/assets/saw.png" alt="" />
      </div>
    </app-prod-compare>
    <div class="desc text-gray-50">
      <h3 class="text-brand text-3xl font-extrabold uppercase italic">
        Wiertarko-Wkrętarka Udarowa
      </h3>
      <p class="text-brand font-bold">RDD18C</p>
      <p>
        Kompaktowa bez uszczerbku dla mocy, możesz operować w trudno dostępnych
        miejscach i pracować dłużej nad głową, dzięki naszej najlżejszej
        wiertarko-wkrętarce z udarem.
      </p>
      <p>(W porównaniu do modelu R18DD7)</p>
    </div>
  </div>
</div>
