:host {
  @apply block relative;
  ::ng-deep {
    [oldprod],
    [newprod] {
      @apply absolute inset-0;
      img {
        @apply absolute w-full h-full object-contain;
      }
    }
    [oldprod] {
      img:not(.pop) {
        @apply transition-all opacity-0 duration-300;
      }
      img.pop {
        @apply opacity-0;
      }
    }
    [newprod] {
      img {
        @apply transition-all opacity-0 duration-300;
        transition-delay: 0ms;
      }
    }
  }
  &.intersecting {
    ::ng-deep {
      [oldprod] {
        img:not(.pop) {
          @apply opacity-100;
        }
        img.pop {
          animation: flash 1000ms linear 300ms;
        }
      }
      [newprod] {
        img {
          @apply opacity-100 duration-1000;
          transition-delay: 1300ms;
        }
      }
    }
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
}
