@import "sass-vars";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --breakpoint-tablet: 640px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1920px;
    --shiny-gradient: linear-gradient(
      105deg,
      #fff 20%,
      #bbb 33%,
      #fff 35%,
      #aaa 62%,
      #fff 65%,
      #bbb 90%,
      #fff 100%
    );
    --header-height: 3.5rem;
    .container {
      overflow: hidden;
    }
  }
  * {
    outline: none !important;
  }
  body {
    min-width: 320px;
    font-family: "Lato", sans-serif;
    &.sticky-header {
      padding-top: var(--header-height);
      app-header {
        @apply fixed w-full z-[100];
        top: calc(-1 * var(--header-height));
        transform: translateY(var(--header-height));
        transition: transform 300ms;
      }
    }
    #logo {
      height: var(--header-height);
    }
    &.overlay {
      overflow: hidden;
      app-header {
        background-color: transparent;
        #logo {
          opacity: 0;
        }
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@keyframes shiny {
  0% {
    background-position: 0%;
  }
  30%,
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.btn {
  @apply inline-block px-8 py-4 leading-none uppercase relative overflow-hidden;
  &:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 0;
    padding-bottom: 200%;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    left: -200%;
    top: 0;
    transition: all 0.3s ease-out;
  }
  &:hover {
    &:before {
      transform: translate(75%, -25%);
    }
  }
  &.btn-brand {
    @apply bg-brand text-brand-bg-light;
    &:hover {
      @apply text-brand-bg;
    }
  }
}

.shiny {
  background-image: var(--shiny-gradient);
  background-clip: text;
  background-size: 120%;
  color: transparent;
  animation: shiny 10s ease infinite alternate;
}
